.left-side {
  margin-top: 4.5rem;
}

.icon-container {
  height: 2rem;
}

.arrow {
  border: 1px solid black;
  border-radius: 100%;
  margin: 0 auto;
  position: relative;
  padding: 5px;
  top: 3px;
  margin-right: 0.5rem;
}

.style-line {
  display: inline-block;
  width: 50px;
  height: 17px;
  border-bottom: 2px solid transparent;
  position: relative;
  margin-right: 0.5rem;
  border-image: linear-gradient(to right, rgb(255, 255, 255), black) 1;
  /* center */
}

.style-line::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 9.5px;
  /* center */
  margin: 0 auto;
  /* traingle */
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid black;
  z-index: 10;
}

.style-line::after {
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  background-color: black;
  position: absolute;
  left: 49px;
}

.ExploreText {
  position: relative;
  top: 3px;
}

.heading-text {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.heading-text span {
  font-weight: 100;
}

.try-for-free {
  /* pill shaped button */
  background-color: #010000;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  padding: 0.7rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: white;
}

.call-to-action {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.see-demo {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  padding: 0.7rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: black;
}

.left-inner {
  height: 100px;
}
.card-one h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.card-one p {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.card-one {
  padding: 1rem 2rem;
  background-color: #010000;
  border-radius: 25px;
  color: white;
  width: fit-content;
}

.card-two {
  background-color: tomato;
  border-radius: 25px;
  padding: 0.5rem;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 10px;
  z-index: -1;
  color: white;
  display: flex;
  align-items: flex-end;
}
.cards {
  display: flex;
  flex-direction: column;
  position: relative;
}


.hero-text,.call-to-action,.cards{
  margin-left: 3rem;
}