* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.main-container {
  width: min(90%, 1200px);
  margin: 0 auto;
}

.contains-sides {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left-side-main,
.right-side-main {
  width: 100%;
}
